.project-card {
  margin: 1.25rem 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $primary-color;
  color: $secondary-color;
  line-height: 1.5rem;
  font-weight: $light;
  border-bottom: 2px solid $accent-three;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 43rem) {
    margin: 1.25rem 0.5rem;
    padding: 1.75rem;
    width: calc(50% - 1rem);
    border: 2px solid $accent-three;
  }

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__name {
    color: $accent-one;
    font-family: $roboto;
    font-size: 1.5rem;

    @media (min-width: 43rem) {
      font-size: 2rem;
      text-align: center;
    }
  }
  &__icon-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    width: 100%;
  }

  &__icon {
    margin: 0.25rem 0 0.5rem 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: $accent-two;

    @media (min-width: 43rem) {
      // width: 3rem;
    }

    &__img {
      height: 2rem;
    }
  }
}
