.project-card {
  margin: 1.25rem 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 0.25rem;
  line-height: 1.5rem;
  border: 1px solid $accent-one;
  font-weight: $light;

  @media (min-width: 43rem) {
    padding: 1.75rem;
  }

  &__link {
    color: $secondary-color;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__name {
    font-family: $roboto;

    @media (min-width: 43rem) {
      font-size: 2rem;
      text-align: center;
    }
  }
  &__icon-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__icon {
    margin: 0.25rem;
    width: 3.25rem;
    background-color: $accent-one;
    border-radius: 50%;
    padding: 8px;

    @media (min-width: 43rem) {
      width: 5rem;
    }
  }
}
