@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

$roboto: 'Roboto', sans-serif;
$rationale: 'Rationale', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
