@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Roboto:ital,wght@1,300;1,500&display=swap');

$montserrat: 'Montserrat', sans-serif;
$rationale: 'Rationale', sans-serif;

$montserrat-bold: 600;
